
html {
  font: 62.5% / 1.15 sans-serif;
}


section{
  display: flex;
}
main{
  background-color: #f6f5f7;
  height: 100vh;
}

.topBar{
  justify-content: space-between;
}

.topBar button{
  border-radius: 20%;
  border: 1px solid;
  font-size: 15px;
  padding: 5px;
  background-color: white;
}

a {
  text-decoration: none;
  color: black;
}

p{
  font-size: 20px;
  margin-top: 3px;
  margin-right: 20px;
}

button p{
  margin: 0;
  font-size: 15px;
}
.gridMonth{
  height: 70%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: minmax(70px, auto);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin-bottom: 1%;
}

.DayInAWeek{
  font-weight: bold;
  text-align: center;
  font-size: large;
  padding-top: 25%;
}

.gridWeek{
  height: 70%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: minmax(10px, auto);
}

.gridWeek div{
  border: 1px solid;
}

.ts1{
  grid-column: 1;
  grid-row: 2;
}

.ts2{
  grid-column: 1;
  grid-row: 3;
}

.ts3{
  grid-column: 1;
  grid-row: 4;
}
.ts4{
  grid-column: 1;
  grid-row: 5;
}

.ts5{
  grid-column: 1;
  grid-row: 6;
}

.ts6{
  grid-column: 1;
  grid-row: 7;
}
.ts7{
  grid-column: 1;
  grid-row: 8;
}

.ts8{
  grid-column: 1;
  grid-row: 9;
}

.ts9{
  grid-column: 1;
  grid-row: 10;
}

.ts10{
  grid-column: 1;
  grid-row: 11;
}

.ts11{
  grid-column: 1;
  grid-row: 12;
}

.ts12{
  grid-column: 1;
  grid-row: 13;
}

.event_top_bar{
  display: flex;
}

.event_top_bar .query{
  display: flex;
}

h2{
  margin: 5px;
}
.todayDate .query{
  display: flex;
}
