
html {
  font: 62.5% / 1.15 sans-serif;
}


section{
  display: flex;
}
main{
  background-color: aquamarine;
  height: 100vh;
}

.grid{
  height: 50%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: minmax(50px, auto);
}
